<div class="breadcumb-area" style="background-image: url(../../../../assets/img/bg-parking_welcome.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="bradcumb-title text-center">
          <h2>{{titulo}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href = '/listar-tiquetes';">Gestionar Tiquetes</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href = '/gestionar-tarifa';">Gestionar Tarifas</button>
</div>