
<div class="breadcumb-area" style="background-image: url(../../../../assets/img/bg-parking_welcome.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="bradcumb-title text-center">
            <h2>{{titulo}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
  <div class="card border-secondary mb-3" style="margin-bottom: 2%; margin-top: 0.5%;">
    <div class="card-header" style="text-align: center; font-weight: bold;">TRM</div>
    <div class="card-body text-secondary">
      <h5 class="card-title" style="margin-bottom: 2%; margin-top: 0.5%;">Bienvenido, la TRM del dia de hoy es ${{trm}}</h5>  
    </div>
  </div>
</div>
