<!-- ****** Breadcumb Area Start ****** -->

<div class="breadcumb-area" style="background-image: url(../../../../assets/img/bg-parking_management.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="bradcumb-title text-center">
          <h2>{{titulo}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<!-- ****** Breadcumb Area End ******-->
<div class="container">
  <div class="card border-dark" style="margin-bottom: 2%; margin-top: 0.5%;">

    <div class="card-body text-primary">
      <div class="my-2 text-center">
        <button class="btn btn-primary btn-lg" type="button" [routerLink]="['/crear-actualizar-tiquetes']">Crear Tiquete</button>
      </div>
      <div class="table-responsive">
        <table id="table" class="table table-bordered table-striped" *ngIf="tiquetes?.length>0">
          <thead class="thead-dark">
            <tr>
              <th style="text-align: center">Placa</th>
              <th style="text-align: center">Tipo Vehiculo</th>
              <th style="text-align: center">Ingreso</th>
              <th style="text-align: center">Salida</th>
              <th style="text-align: center">Valor a Pagar</th>
              <th style="text-align: center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tiquete of tiquetes">
              <td class="text-center" style="color: black">{{tiquete.placaVehiculo}}</td>
              <td class="text-center" style="color: black">{{tiquete.tipoVehiculo}}</td>
              <td class="text-center" style="color: black">{{tiquete.fechaIngreso}}</td>
              <td class="text-center" style="color: black">{{tiquete.fechaSalida == null? '--': tiquete.fechaSalida}}</td>
              <td class="text-center" style="color: black">{{tiquete.valorAPagar == 0 ? '--': '$'+tiquete.valorAPagar}}</td>
              <td>
                <div class="row">
                  <div *ngIf="tiquete.fechaSalida == null" class="col text-center">
                    <div ><a [routerLink]="['/crear-actualizar-tiquetes', tiquete.id]"><img class="iconosTamanio"
                          src="../../../../assets/img/iconos/edit.png"></a></div>
                  </div>
                  <div class="col text-center">
                    <div><a style="cursor: pointer" (click)='eliminarConfirmacion(tiquete)'><img class="iconosTamanio"
                          src="../../../../assets/img/iconos/delete.png"></a></div>
                  </div>
                  <div *ngIf="tiquete.fechaSalida == null" class="col text-center">
                    <div><a style="cursor: pointer" (click)='cerrarTiqueteConfirmacion(tiquete)'><img class="iconosTamanio"
                          src="../../../../assets/img/iconos/salida.png"></a></div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
      <div *ngIf="tiquetes?.length==0" class="alert alert-info">
        No hay registros en la base de datos.
      </div>
    </div>
  </div>
</div>