<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Parking Tickets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="oauthService.isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/listar-tiquetes">Gestión de Tiquetes</a>
      </li>
      <li *ngIf="oauthService.isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/gestionar-tarifa">Tarifario</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">

      <button *ngIf="oauthService.isAuthenticated()" id="btnLogout" class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()" onclick="location.href = '/login';">Logout</button>
    </form>
  </div>
</nav>